@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global color and typography definitions */
:root {
  --background: #ffffff; /* white background */
  --foreground: #171717; /* dark foreground text */
  
  --button-1-color: #F4793A; /* orange for button 1 */
  --button-2-color: #35C1D7; /* blue for button 2 */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif; /* Make sure Poppins is included */
}

/* Button styles */
button.button-1 {
  background-color: var(--button-1-color);
}

button.button-2 {
  background-color: var(--button-2-color);
}

/* ag-grid */
/* Add this to your globals.css */
.ag-theme-alpine {
  --ag-foreground-color: 	rgb(0,0,0);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgba(0, 0, 0, 1);
  --ag-header-background-color: rgba(53, 193, 215, 0.75);
  --ag-odd-row-background-color: rgba(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: 	rgb(0,0,0);

  --ag-font-size: 17px;
  --ag-font-family: roboto, sans-serif;
}
